Test
build_id.v
build_id.vhd
build_id.sv
db
history.db
greybox_tmp
incremental_db
output_files
simulation
PLLJ_PLLSPE_INFO.txt
console_history
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
*.srf
*.rbf
*.exe
*.url
asm.chg
fit.chg
map.chg
sta.chg
smart.log
